<!-- <div *ngFor="let phase of phases">
  <p>{{ phase }}</p>
</div> -->
<div fxLayout="column" fxLayoutAlign="center center">
  <div class="phase-item"
    fxLayout="column"
    fxLayoutAlign="center center"
    [matBadge]="labelPosition === 'rest' ? 'R' : 1"
    [matBadgeColor]="labelPosition === 'rest' ? 'warn' : 'primary'"
    matBadgePosition="before"
    [ngStyle]="{
      'border': labelPosition === 'rest' ? '3px solid red' : '3px solid blue',
      'opacity': isSettingsMenu ? '100%' : '10%'
    }">

    <mat-radio-group [(ngModel)]="labelPosition" *ngIf="isSettingsMenu">
      <mat-radio-button value="active">active</mat-radio-button>
      <mat-radio-button value="rest">rest</mat-radio-button>
      <mat-radio-button value="remove" disabled>remove</mat-radio-button>
    </mat-radio-group>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="left-input">
        <input
          matInput
          type="text"
          value="00"
          maxLength="2"
          class="custom-input"
          [disabled]="!isSettingsMenu">
      </div>
      <span class="input-split">:</span>
      <div class="right-input">
        <input
          matInput
          type="text"
          value="20"
          maxLength="2"
          class="custom-input"
          [disabled]="!isSettingsMenu">
      </div>
    </div>
  </div>
</div>
