<div fxLayout="column" fxLayoutAlign="center center">
    <div class="phase-item"
    *ngFor="let phase of phasesToView; ; let i = index;"
    fxLayout="column"
    fxLayoutAlign="center center"
    [matBadge]="labelPositions[i] === 'rest' ? 'R' : i + 1"
    [matBadgeColor]="labelPositions[i] === 'rest' ? 'warn' : 'primary'"
    matBadgePosition="before"
    [ngStyle]="{
      'border': labelPositions[i] === 'rest' ? '3px solid red' : '3px solid blue',
      'opacity': isNotPlay ? '100%' : '10%'
    }">

    <mat-radio-group [(ngModel)]="labelPositions[i]" *ngIf="isNotPlay">
      <mat-radio-button value="active">active</mat-radio-button>
      <mat-radio-button value="rest">rest</mat-radio-button>
      <mat-radio-button value="remove" disabled>remove</mat-radio-button>
    </mat-radio-group>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="left-input">
        <input
          matInput
          type="text"
          value="00"
          maxLength="2"
          class="custom-input"
          [disabled]="!isNotPlay">
      </div>
      <span class="input-split">:</span>
      <div class="right-input">
        <input
          matInput
          type="text"
          value="20"
          maxLength="2"
          class="custom-input"
          [disabled]="!isNotPlay">
      </div>
    </div>
  </div>
</div>
