<div 
  fxLayout="row"
  fxLayoutAlign="end" 
  matBadgeSize="large"
  [matBadge]="1"
  matBadgeColor="warn"
  *ngIf="isDisable">
</div>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="phase-item"
    *ngFor="let phase of phaseItems; let i = index;"
    fxLayout="column"
    fxLayoutAlign="center center"
    [matBadge]="phaseItems[i].badge"
    [matBadgeColor]="phaseItems[i].state === 'rest' ? 'warn' : 'primary'"
    matBadgePosition="before"
    matBadgeSize="large"
    [ngStyle]="{
      'border': phaseItems[i].state === 'rest' ? '3px solid red' : '3px solid blue',
      'opacity': phaseItems[i].opacity
    }">

    <mat-radio-group 
      [(ngModel)]="phaseItems[i].state"
      (change)="onStateChange($event, i)"
      *ngIf="!isDisable && i">
      <mat-radio-button value="work">work</mat-radio-button>
      <mat-radio-button value="rest">rest</mat-radio-button>
      <mat-radio-button value="remove"> remove</mat-radio-button>
    </mat-radio-group>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="left-input">
        <input
          matInput
          type="text"
          [(ngModel)]="phaseItems[i].leftValue"
          maxLength="2"
          class="custom-input"
          (input)="onKeyPress($event)"
          (blur)="onInputChangeLeft($event, i)"
          [disabled]="isDisable"
          [ngStyle]="{'background-color': setInputBackgroundColor()}">
      </div>
      <span class="input-split">:</span>
      <div class="right-input">
        <input
          matInput
          type="text"
          [(ngModel)]="phaseItems[i].rightValue"
          maxLength="2"
          class="custom-input"
          (input)="onKeyPress($event)"
          (blur)="onInputChangeRight($event, i)"
          [disabled]="isDisable"
          [ngStyle]="{'background-color': setInputBackgroundColor()}">
      </div>
    </div>
  </div>
</div>
