<mat-grid-list cols="3" rowHeight="70px">
  <mat-grid-tile class="custom-tile" rowspan="2">
    <button 
      mat-icon-button 
      color="primary" 
      (click)="togglePlayPause()">
      <mat-icon>{{ isPlayActive ? 'play_arrow' : 'pause' }}</mat-icon>
    </button>
    <button 
      mat-icon-button 
      color="accent" 
      [disabled]="isReplayEnable"
      (click)="onReplay()">
      <mat-icon>replay</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile class="custom-tile" >
    <div fxLayout="column" fxLayoutAlign="center center">
      <span>CountUP</span>
      <mat-slide-toggle
            [color]="countUpColor"
            [disabled]="isDisableControl"
            (change)="onCountUp($event)">
        </mat-slide-toggle>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="custom-tile">
    <app-round-counter [isDisableControl]="isDisableControl"></app-round-counter>
  </mat-grid-tile>

  <mat-grid-tile class="custom-tile">
    <app-warm-up-counter [isDisableControl]="isDisableControl"></app-warm-up-counter>
  </mat-grid-tile>

  <mat-grid-tile class="custom-tile">
    <app-phase-counter [isDisableControl]="isDisableControl"></app-phase-counter>
  </mat-grid-tile>
</mat-grid-list>
