<mat-accordion>
  <mat-expansion-panel 
    hideToggle 
    [ngStyle]="{'background-color': setTimerBackgroundColor()}">
    <mat-expansion-panel-header>
      <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
        <span>Ironsky Timer</span>
        <span><mat-icon class="custom-icon" [style.color]="iconColor">lens</mat-icon></span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-control (changeTimerState)="onStateReceived($event)"></app-control>

    <app-phase [timerStatus] = "timerStatus"></app-phase>
  </mat-expansion-panel>
</mat-accordion>
